{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block content %}
<!-- Three columns of text below the carousel -->
<div class="row">
<h2>Nos meilleurs ventes</h2>
<p>Découvrez nos produits les plus vendus</p>
{% for product in products %}
   <div class="col-md-3">
       {% include "product/single_product.html.twig" %}
    </div>
{% endfor %}
   
</div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Un savoir-faire de qualité , inimitable <span class="text-muted">et made in France</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos minus, natus sunt magni est consequatur explicabo magnam recusandae ullam ad nesciunt ipsa, incidunt voluptatem? Nam.</p>
      </div>
      <div class="col-md-5">
       <img src="{{asset ('/uploads/first.jpg')}}" alt="un savoir faire Français" class='img-fluid'>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Nous sommes ravis de vous accueillir <span class="text-muted"> dans nos boutiques .</span></h2>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis magni dolores, ducimus id quam quod, excepturi odio minus officiis provident laboriosam aspernatur fuga similique corrupti fugit. Adipisci, eius. Totam, cumque corrupti eaque earum porro architecto?</p>
      </div>
      <div class="col-md-5 order-md-1">
       <img src="{{asset ('/uploads/second.jpg')}}" alt="un savoir faire Français" class='img-fluid'>
      </div>
    </div>

    <hr class="featurette-divider">

   <!-- /END THE FEATURETTES -->
    {% endblock %}