{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - La boutique Française {% endblock %}

{% block content %}
<div class="small-block">
<form method="post">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">{{message}}</div>
    {% endfor %}
   {{form (form) }}
</div>
{% endblock %}