{% extends 'base.html.twig' %}

{% block content %}
<h1> Inscription </h1>

{#Ici on appelle la variable form créer dans le dossier Controller avec la class RegisterController#}
{{form(form)}}
{% endblock %}

